.html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #c93939;
  height: 50rem;
}
.header {
  height: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.textoLogo {
  grid-column: 1/13;
  text-align: center;
}
main {
  width: 50%;
  margin: auto;
  padding: 130px 0 0 0;
}
main input {
  width: 100%;
  padding: 0px;
  font-size: 34px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 100;
  margin-bottom: 10px;
}
section {
  position: fixed;
  box-shadow: -6px -2px 25px -13px rgba(0, 0, 0, 0.15);
  width: 340px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 30px;
  transition: all 0.2s;
  background-color: white;
}
section h1 {
  position: absolute;
  top: 50%;
  right: 360px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  background: url("../img/carrito.png") no-repeat #af2a2a;
  background-size: 50%;
  background-position: 10px center;
}
section h1 span {
  display: block;
  background-color: #e61a1a;
  border-radius: 150px;
  padding: 5px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  margin: -10px 0 0 30px;
}
section h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}
.btnAgregar,
.btnQuitar {
  color: white;
  background-color: #c93939;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 2px solid #1b1b1b;
  transition: all 0.2s;
}
.btnAgregar:hover,
.btnQuitar:hover {
  border: 1px solid rgb(14, 13, 13);
  scale: 1.05;
}
section a {
  color: #f3eeee;
  background-color: #c93939;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 2px solid #1b1b1b;
  transition: all 0.2s;
  text-align: center;
  width: 90%;
}

.productoCarrito {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  margin-bottom: 10px;
  line-height: 24px;
}
.productoCarrito h2 {
  margin-bottom: 8px;
}
.ocultar {
  right: -340px;
  transition: all 0.2s;
}
#productos {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: auto;
}
.producto {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(248, 248, 248);
  text-align: center;
}
.producto .precio {
  padding: 10px 0;
  font-size: 20px;
  background-color: #f10f0fc5;
  display: inline-block;
  padding: 4px 10px;
  color: white;
  border-radius: 15px;
  margin-top: 4px;
}
.producto .imagen {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin: 20px 0;
}
.producto .imagen img {
  max-height: 200px;
}
.producto .btnAgregar {
  margin: auto;
  display: block;
  text-align: center;
}
.producto:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}
#scroll {
  max-height: 96%;
  overflow-y: auto;
  padding-left: 5px;
}
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;

  .content {
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar.sticky {
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: #c93939;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn {
  top: 10px;
}

@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn {
    display: none;
  }
  .icon.cancel-btn.show {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 50px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active {
    clip-path: circle(75%);
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
  }
}
.footer {
  background: #c93939;
  height: 5rem;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 45%;
}
.info {
  border: solid rgb(243, 158, 158) 2px;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
