/* PALETA DE COLORES */
$color-primary: #c93939;
$color-secondary: #523A34;
$color-light: #f7f7f7f7;
$color-dark: #222121;
$color-orangeRed: #fb4b4e;
$color-rose: #ffaaa7;
$color-lime: #00cc66;
$color-blue: #2541b2;
$color-light2: #c93939;

/* Paleta de colores en forma de maps */
$palette: (
    "primary": #d65353,
    "secondary": #523A34,
    "light": #f7f7f7f7,
    "dark": #222121,
    "light2": #ff3936,
);